@import "tailwindcss";

.carousel,
.carousel-slider {
  height: 100%;
}

.slider-wrapper,
.axis-horizontal {
  height: 100%;
}

.slider-wrapper,
.axis-horizontal > ul {
  height: 100%;
}

.gradient_bg {
  background: radial-gradient(
      circle at 50% 50%,
      #3A2875 0%,
      #000 45%,
      #1c0f41 85%
    );
}

.account_gradient {
  background: radial-gradient(
    circle at 50% 30%,
    #3A2875 0%,
    #040828 50%,
    #000 100%
  );
}

@media (min-width: 760px) {
  .gradient_bg {
    background: radial-gradient(circle at center, #7f67e8 0%, #000 40%);
  }
}
