@import "tailwindcss";

.carousel,
.carousel-slider {
  height: 100%;
}

.slider-wrapper,
.axis-horizontal {
  height: 100%;
}

.slider-wrapper,
.axis-horizontal > ul {
  height: 100%;
}

.gradient_bg {
  background: radial-gradient(
    circle at 50% 50%,
    #3a2875 0%,
    #000 45%,
    #1c0f41 85%
  );
}

.account_gradient {
  background: radial-gradient(
    circle at 50% 30%,
    #1f104a 0%,
    #040828 50%,
    #000 100%
  );
}

@media (min-width: 760px) {
  .gradient_bg {
    background: radial-gradient(circle at center, #1f104a 0%, #000 60%);
    background-blend-mode: overlay;
  }
}
